body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #121212;
    color: #fff;
    text-align: center;
}

h1, h2 {
    color: #fff;
    font-family: 'Space Grotesk', sans-serif;
}

.logo {
    margin-top: 20px;
    border-radius: 50%;
    background-color: #fff;
    padding: 20px;
}

.list-group-item {
    margin: 10px 0;
    border-radius: 25px;
    transition: background-color 0.3s, color 0.3s;
    padding: 15px 25px;
    background-color: #fff;
    color: #343a40;
}

.list-group-item:hover {
    background-color: #343a40;
    color: #fff;
}

.footer {
    margin-top: 30px;
    font-size: 0.9em;
    color: #6c757d;
}

.footer a {
    color: #6c757d;
    text-decoration: none;
}

.footer a:hover {
    color: #fff;
}
